@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Store</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Clients</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <a asp-action="Index" asp-controller="Clients" class="btn btn-primary">Перейти</a>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Providers</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <a asp-action="Index" asp-controller="Pproviders" class="btn btn-primary">Перейти</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Marks</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <a asp-action="Index" asp-controller="Marks" class="btn btn-primary">Перейти</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Products</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <a asp-action="Index" asp-controller="Products" class="btn btn-primary">Перейти</a>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
