@model StoreASP.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProduct" />
            <div class="form-group">
                <label asp-for="NazvanieProduct" class="control-label"></label>
                <input asp-for="NazvanieProduct" class="form-control" />
                <span asp-validation-for="NazvanieProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opisanie" class="control-label"></label>
                <textarea asp-for="Opisanie" class="form-control"></textarea>
                <span asp-validation-for="Opisanie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostSales" class="control-label"></label>
                <input asp-for="CostSales" class="form-control" />
                <span asp-validation-for="CostSales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imei" class="control-label"></label>
                <input asp-for="Imei" class="form-control" />
                <span asp-validation-for="Imei" class="text-danger"></span>
            </div>
            <div class="form-group">
                Mark
                <select asp-for="IdMark" class="form-control" asp-items="ViewBag.IdMark"></select>
                <span asp-validation-for="IdMark" class="text-danger"></span>
            </div>
            <div class="form-group">
                Category
                <select asp-for="IdCategory" class="form-control" asp-items="ViewBag.IdCategory"></select>
                <span asp-validation-for="IdCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
